{% extends 'home/base.html' %}
{% load static %}
{% block title %}<title>Our Doctors</title>{% endblock title%}

{% block content %}
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Our Doctor</title>
		<script src="https://code.jquery.com/jquery-2.1.3.min.js" integrity="sha256-ivk71nXhz9nsyFDoYoGf2sbjrR9ddh+XDkCcfZxjvcM=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
		<style type = text/css>

			header, body, html {
				font-family: 'Lato', sans-serif;
				margin: 0;
				padding: 0;
			} 

			h1 {
				font-size: 50px;
				text-align: center;
				color: #33726D;
				font-weight: bold;
			}

			h5,h4 {
				text-align: center;
				color: #33726D;
			}

			button {
				margin-right: auto;
				margin-left: auto;
				margin-top: 25px;
				margin-bottom: 25px;
				transform: scale(1.5);
				display: grid;
				color: #33726D;
				background: #FCF8F8;
				box-sizing: border-box;
				border: 1px solid #33726D;
				border-radius: 6px;
			}

			.card {
				margin: auto;
				margin-top: 40px;
				width: 300px;
				min-height: 400px;
			}

			.card-img-top {
				text-align: center;
				width: 300;
				height: 300;
				object-fit: cover;
			}

			.doctor-name {
				color: #154440;
				font-size: 25px;
				font-weight: bold;
				text-align: left;
				margin-top: 20px;
			}

			.doctor-name-degree {
				color: black;
				font-size:17px;
				text-align: left;
				margin-top: 0;
			}

			.doctor-name-like {
				color: black;
				font-size:17px;
				text-align: right;
				margin-top: 0;
			}
		</style>
	</head>

	<body>
		<!--Meet Doctors-->
		<br><br>
		<h1>Meet Our Doctors</h1>
		<h5>key staff of <i>GetHealty</i></h5>
		{% for i in doctorsList %}
			{% if forloop.first %}
				<div class = "row" style="margin-left: 100px; margin-right: 100px;">
			{% endif %}
					<div class="col-md-4">
						<div class="card border-0">
							<a href='/doctor/{{ i.id }}'>
								{% if i.profile_picture %}
									<img src="{{ i.profile_picture.url }}" class="card-img-top">
								{% endif %}
								<p class="card-text doctor-name">{{i.name}}</p>
							</a>
							<p class="card-text doctor-name-degree">{{i.degree_name}}</p>
							<p class="card-text doctor-name-like">Likes - {{ i.like.count }}</p>
							<form action="/doctor/like/{{i.id}}" method="POST">
								{% csrf_token %}
								<button type="submit" class="btn btn-primary btn-sm" value="{{ doctor.id }}" name="like_button_id">Like</button>
							</form>
						</div>
					</div>
					{% if forloop.counter|divisibleby:3 %}
				</div>
						<div class="row" style="margin-left: 100px; margin-right: 100px;">
					{% endif %}
							{% if forloop.last %}
						</div>
							{% endif %}
		{% endfor %}

		<!--Book Us-->
		<br><br>
		<h1>Book Us!</h1>
		<h4>With our service you can book our doctor to give you a private consultation via online.</h4>
		<a href="/schedule/"><button>Consultation</button></a>
		<br><br>
		{% endblock %}

	</body>
</html>