{% extends 'home/base.html' %}
{% load static %}

<head>
    {% block css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <!-- Bootstrap Javascript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/9ba1fbf095.js" crossorigin="anonymous"></script>

    <title>Search News</title>

    <style>
        .news-image,
        .tips-image {
            width: 70%;
        }

        .news-title,
        .tips-title {
            padding-top: 1rem;
        }

        #news,
        #tipsandtrick {
            padding: 7% 15%;
        }

        .news-box,
        .tips-box {
            text-align: center;
            font-family: "Lato", sans-serif;
            font-weight: bold;
            padding: 5%;
        }
    </style>
    {% endblock css %}
</head>

<body>

    {% block content %}
    <script>
        $(document).ready(function () {
            $("#keyword").keyup(function () {
                var input = $("#keyword").val();
                input = input.toLowerCase();

                $.ajax({
                    url: '/article/json_tips?q=' + input,
                    success: function (output_tips) {
                        $(".tips-box").empty();
                        for (i = 0; i < output_tips.length; i++) {
                            var tips_article = output_tips[i];

                            var title = tips_article.title;
                            var image = tips_article.image;
                            var slug = tips_article.slug;
                            
                            $(".tips-box").append(
                                "<img class='tips-image' src=" + image + " alt=" + title + ">" + "<a href=\"/article/tipsandtrick/" + slug + "\"> <h6 class='tips-title'>" + title + "</h6> </a>"
                            );
                        }
                    }
                });
            });
        })
    </script>

<section id="tipsandtrick">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input id="keyword" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search Tips And Trick"
        aria-label="Search">
    <br>

    <div class="row">
        <div class="tips-box col-lg-6">

        </div>
    </div>
    
    {% endblock content %}

</body>

</html>