/* Html reset and font customizing */

header, body, html {
	font-family: 'Lato', sans-serif !important;
    margin: 0;
    padding: 0;
}

/* Text */

h1, h2, h3, h4, p {
	color: #33726D !important;
}

/* Description */

.description {
	margin-bottom: 50px;
}

.description p {
	font-size: 18px;
}

/* Choices */

.card-header {
	background-color: #fff !important;
}

.choices, .card-header {
	display: flex;
}

.card-header a {
	display: flex;
}

.card-header a.time {
	flex: 3;
	margin-left: 10px;
	text-decoration: none;
}

.card-header a.doctor {
	flex: 1;
	text-decoration: none;
	color: #154440;
}

.card-header a.doctor:hover {
	text-decoration: underline;
}

.card-body a {
	position: relative;
	left: 10px;
}

.btn-genoa {
  color: #fff;
  background-color: #33726D;
  border-color: #33726D;
}

.btn-genoa:hover {
  color: #fff;
  background-color: #1e7057;
  border-color: #1c5a48;
}

.btn-genoa:focus, .btn-genoa.focus {
  color: #fff;
  background-color: #1e7057;
  border-color: #1c5a48	;
  /*box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);*/
}

.not-available {
	text-align: center;
	line-height: 45px;
	height: 50px;
	background-color: #eaeaea !important;
}