img {
    width: 70%;
}
  
h6 {
    padding-top: 1rem;
}
  
#news {
    padding: 7% 15%;
}
  
.news-box {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    padding: 5%;
}