body {
	font-family: 'Lato';
}

#aboutus {
	margin-right: 75px;
	margin-left: 75px;
	margin-bottom: 75px;
	margin-top: 20px;
	font-size: 25px;
	line-height: 40px;
	text-align: center;
	color: #154440;
}

.cartoondoc {
	max-height: 350px;
	margin: 0 auto;
	display: block;
	margin-bottom: 40px;
	margin-top: 40px;
}

.ourdoctors {
	padding-left: 75px;
	margin-top: 120px;
	margin-bottom: 120px;
	text-align: center;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

#ourdoctors {
	font-size: 60px;
	line-height: 86px;
	color: #33726D;
	text-decoration: none;
}

hr.line {
	height: 10px;
	background-color: #154440;
}

.docdesc {
	color: #154440;
	font-size: 25px;
	line-height: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.book {
	font-size: 25px;
	line-height: 40px;
	color: #33726D;
	font-weight: bold;
}

.doctors {
	max-height: 441px;
	max-width: 450px;
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
	border-radius: 10px;
	margin: 0 auto;
	display: block;
	position: relative;
}

.wrapper-doctors {
	max-height: 441px;
	border-radius: 10px;
	margin: 0 auto;
	display: block;
}

.improve-page {
	background-color: #33726D;
	padding: 120px;
}

.improve-page p {
	font-size: 72px;
	line-height: 86px;
	text-align: center;
	color: #FFFFFF;
}

.suggestion {
	margin: 0 auto;
	display: block;
	position: relative;
}

#improve-text {
	margin-bottom: 75px;
}

.buttonku {
	margin: 0 auto;
	display: block;
	background-color: #FCF8F8;
	color: #33726D;
	border-radius: 12px;
	border: 1px solid #33726D;
	width: 200px;
	height: 70px;
	font-size: 20px;
	cursor: pointer;
}

.buttonku.form {
	width: 209px;
	height: 60px;
}

.buttonku:hover {
	background-color: #42C3B6;
	color: white;
	border: 1px solid #42C3B6;
}

.form-control {
	margin-bottom: 50px;
	background-color: #154440 !important;
	color: #E5E5E5 !important;
	border: 0 !important;
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
	display: block !important;
	font-size: 20px !important;
}

#id_subject, #id_name {
	height: 50px;
}

#id_suggestion {
	height: 150px;
}

.carousel.slide {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	margin-bottom: 150px;
	display: block;

}

.carouselTitle {
	font-size: 50px;
	background: rgba(80, 80, 80, 0.67);
}

.covid-case-title {
	text-align: center;
	font-size: 50px;
	line-height: 86px;
	color: #33726D;
	font-weight: bold;
}

.row.covid-case {
	margin-left: 0;
	margin-right: 0;
}

.map {
	max-width: 550px;
	min-height: 250px;
	max-height: 250px;
	padding-top: 25px;
	padding-left: 10px;
}

.confirmed {
	text-align: center;
	color: #42C3B6;
	font-style: normal;
	font-weight: bold;
	padding-top: 65px;
	font-size: 50px;
	margin-left: -40px;
	margin-right: 0;
}

.text-confirmed {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 370px;
	font-size: 30px;
	background-color: #42C3B6;
	color: white;
	border-radius: 10px;
}

.col-md-3 {
	text-align: center;
	margin-top: 20px;
	margin-left: 55px;
	margin-right: 55px;
}

.last-update {
	font-size: 15px;
	line-height: 29px;
	color: #818181;
}

.col-md-12.last-update {
	padding-left: 89px;
}

.wrapper {
	text-align: center;
	margin: 20px 70px 20px 70px;
	border-radius: 12px;
	cursor: default;
	transition-duration: 0.2s;
}

.wrapper.active {
	background-color: #FFC700;
}

.wrapper.recovered {
	background-color: #0688FF;
}

.wrapper.deaths {
	background-color: #FF4F5A;
}

.active-cases, .recovered, .deaths {
	font-weight: bold;
	font-size: 21px;
	line-height: 43px;
	text-align: center;
	color: #FFFFFF;
}

.num {
	font-size: 30px;
	margin-bottom: 0;
	transition-duration: 0.2s;
}

.text-cases{
	margin-top: -10px;
	margin-bottom: 0;
	transition-duration: 0.2s;
}

.overlay {
	transition-duration: 1s;
	margin-top: -250;
	margin-left: 50px;
	width: 400px;
    z-index: 1;
    position: relative;
    font-size: 30px;
    color: black;
    background-color: blue;
    display: none;
}

.style {
	max-width: 40px;
	max-height: 40px;
	margin-top: -183px;
    margin-left: 70px;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(229, 229, 229, 0.82);
}

img.style {
	padding: 5px;
}

img.style:hover {
	background: rgba(127, 127, 127, 0.82);
}

#test > div { 
	position: absolute; 
	top: 10px; 
	left: 10px; 
	right: 10px; 
	bottom: 10px;
}

img.doctors {
	height: 440px;
	width: 450px;
	object-fit: cover;
}

.d-block.w-100 {
	height: 520px;
	width: 1200px;
	object-fit: cover;
}

tr {
	text-align: center;
}

.list_of_suggestions {
    text-align: center;
    font-weight: bold;
    font-size: -webkit-xxx-large;
    color: #33726D;
    padding-top: 60px;
    padding-bottom: 40px;
}

.wrapper.suggestions {
	padding-bottom: 60px;
}

#message {
    position: sticky;
    z-index: 1;
    top: 70px;
}

.alert.alert-success {
	border-radius: 0;
}

.submitted {
	position: sticky;
	top: 30vh;
	margin-left: 35%;
	margin-right: 35%;
	z-index: 1;
	background-color: white;
	text-align: center;
	border-radius: 10px;
	padding-top: 70px;
	padding-bottom: 70px;
	display: none;
}

.close-submit {
	cursor: pointer;
	margin-top: 15px;
    border-radius: 6px;
    padding: 6px 10px;
}

.close-submit:hover {
	background-color: rgba(66, 195, 182);
	color: white;
}