{% load static %}



	{% block style %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
	{% endblock style %}

	{% block title %}
	<title>Booking Form</title>
  	{% endblock title %}

	{% block css %}
	<style>
		.header {
			display: flex;
			align-items: center;
			height: 80px;
			width: 100%;
			color: white;
			background-color: rgba(66, 195, 182);
		}
		.header h1 {
			margin: 0 auto;
		}
		#back-arrow {
			color: white;
			padding-left: 24px;
			transform: scale(1.5, 1.5);
		}
		.container {
			margin-top: 28px;
			margin-bottom: 40px;
		}
		.container h4 {
			position: relative;
			right: 15px;
		}
		.form-group input {
			width: 80%;
			margin-left: 10px;
		}
		#phone-form {
			position: relative;
			right: 15px;
		}
	</style>
	{% endblock %}



	{% block content %}
	<div class="header">
		<a href=".." id="back-arrow">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
	  			<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
			</svg>
		</a>
		<h1>Booking Form</h1>
	</div>
	<div class="container">
		<h4>Confirm your appointment</h4>
		<br>
		<div class="form-group row">
			<label for="staticDoctorName" class="col-form-label">Doctor's Name: </label>
			<input type="text" readonly class="form-control-plaintext" value="{{ hour.day.doctor.name }}" id="staticDoctorName">
		</div>
		<div class="form-group row">
			<label for="staticSchedule" class="col-form-label">Schedule: </label>
			<input type="text" readonly class="form-control-plaintext" value="{{ hour.day.name }}, {{ hour.hour }}" id="staticSchedule">
		</div>
		<div class="form-group row">
			<label for="staticSchedule" class="col-form-label">Customer: </label>
			<input type="text" readonly class="form-control-plaintext" value="{{ customer.username }}" id="staticSchedule">
			<form method="POST">
		</div>
		<div class="form-group row">
			<label for="staticSchedule" class="col-form-label">Email: </label>
			<input type="text" readonly class="form-control-plaintext" value="{{ customer.email }}" id="staticSchedule">
			<form method="POST">
		</div>
		<div id="phone-form">
			<form method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" class="btn btn-warning" style="color: white;">Make Booking</button>
			</form>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

	{% endblock content %}